<ion-view title='{{"delivery.my_addresses" | translate}}'>
	<ion-nav-buttons side="left">
		<button  class="button button-icon ion-arrow-left-c button-clear header-position-fix" ng-click="backFromAddresses()"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button translate="delivery.add_new" class="button button-balanced header-position-fix" ui-sref='deliveryinfo'>Add new</button>
	</ion-nav-buttons>
	<ion-content class="calm-bg">
		<div class="header-space"></div>
		<ion-list>
			<div ng-hide="addressList.length > 0" class="list-inset container " >
				<h2 translate="delivery.no_addresses" class="no-addresses-title " > You don't have any saved addresses</h2>
			</div>
			<div ng-show="addressList.length > 0" class="list-inset container " >
				<div translate="delivery.delivery_address" class="item item-divider">
					Delivery address - choose one:
				</div>
				<a class="item custom-style delivery-item" ng-click="selectAddress(address)" ng-repeat="address in addressList">
					<h2 class="item-title " > {{ address.street}} </h2>
					<p class="item-info">{{"cart.number" | translate}} {{address.number}}, {{"cart.city" | translate}} {{address.locality}} </p>
				</a>
			</div>
		</ion-list>
		<div class="footer-space"></div>
	</ion-content>
</ion-view>
