<ion-view title='{{"delivery.my_addresses"| translate}}'>
    <ion-nav-buttons side="left">
        <button  class="button button-icon ion-arrow-left-c button-clear header-position-fix" ui-sref="addresses"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button translate="delivery.save" class="button button-balanced header-position-fix" ng-click="saveInfo(user, address)">Save</button>
    </ion-nav-buttons>
    <ion-content class="calm-bg">
        <div class="header-space"></div>

        <ion-list>
            <div class="list-inset container " >
                <span class="central-align"><i class="ion-location"></i> {{"delivery.delivery_address"| translate}} </span>
                <a translate="delivery.use_map" class="base-button green-button" ng-click="getLocation()"><i  class="icon-left "></i>Use Map</a>
                <br/><br/><hr/>

                <form name="deliveryForm" class="personalInfo" ng-submit="submitForm(deliveryForm.$valid)" novalidate>
                    <div class="row">
                        <div class="col input "><label><input class="selector" type="text" name="addressStreet" ng-model="address.street" placeholder="{{'delivery.street'| translate}}" required></label></div>
                    </div>
                    <div class="row">
                        <div class="col col-33 input"><label><input class="selector" type="text" name="addressNumber"  ng-model="address.number" placeholder="{{'delivery.number'| translate}}" required></label></div>
                        <div class="col col-33 input"><label><input class="selector" type="text" name="addressFlat"  ng-model="address.flat" placeholder="*{{'delivery.flat'| translate}}" ></label></div>
                        <div class="col col-33 input"><label><input class="selector" type="text" name="addressApartament"  ng-model="address.apartament" placeholder="*{{'delivery.apartment'| translate}}" ></label></div>
                    </div>
                    <div class="row">
                        <div class="col input "><label><input on-focus='inputUp()' on-blur='inputDown()' type="text" name="addressCity" ng-model="address.locality"  placeholder="{{'delivery.city'| translate}}" required></label></div>
                    </div>
                    <span class=" input ">  *{{'delivery.optional'| translate}}</span>
                </form>
            </div>

        </ion-list>
ß
    </ion-content>

</ion-view>
