<ion-view title='{{"order.order_finalized" | translate}}'>
	<ion-nav-buttons side="left">
		<button  class="button button-icon ion-arrow-left-c button-clear header-position-fix" ui-sref="leftdrawer.categories({restaurantName : restaurantName})"></button>
	</ion-nav-buttons>

	<ion-content class="calm-bg">
		<div class="header-space"></div>
		<ion-list>
			<div class=" container goodbye-container" >
				<p class="center" >{{restaurant}} {{"order.received_order" | translate}}</p><br/>
				<a translate = "order.ok" class="base-button green-button center" ui-sref="leftdrawer.categories({restaurantName : restaurantName})"><i class="icon-left "></i>OK</a><br/>
				<a translate = "order.share" class="base-button facebook center" ng-click="facebookShare()" > Share </a>
			</div>
		</ion-list>
	</ion-content>
</ion-view>
