<ion-view title='<h1 class=" appLogo"></h1>'>
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon header-position-fix" ng-click="toggleDrawer()">
		</button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right"  class="customAnim">
		<button class=" button button-icon ion-ios-cart header-position-fix" ui-sref="cart" ></button>
	</ion-nav-buttons>
	<ion-content class="calm-bg">
		<div class="item item-input-inset" style="margin-top: 10px">
			<label class="item-input-wrapper">
				<input type="text" placeholder="Search for products">
			</label>
			<button class="button  button-clear icon ion-ios-search-strong"></button>
		</div>


		<ion-slide-box class="photo-slider" show-pager="true"  slide-interval="3000" disable-scroll="false"  auto-play="true" does-continue="true">
			<ion-slide>
				<img class="slide-photo" src="./img/deals/deals1.jpg">
			</ion-slide>
			<ion-slide>
				<img class="slide-photo" src="./img/deals/deals2.jpg">
			</ion-slide>
			<ion-slide>
				<img class="slide-photo" src="./img/deals/deals3.jpg">
			</ion-slide>
		</ion-slide-box>

		<div class="row" ng-repeat="product in products" ng-if="$index % 2 === 0">
			<div class="col productContainer" ng-if="$index < products.length">
				<img class="productPhoto" ng-src="{{products[$index].productUrl}}" width="100%" />
				<span class="productName">{{products[$index].productName}}</span>
				<span class="productPrice">{{products[$index].productPrice}}</span>
			</div>

			<div class="col productContainer" ng-if="$index + 1 < products.length">
				<img class="productPhoto" ng-src="{{products[$index + 1].productUrl}}" width="100%" />
				<span class="productName">{{products[$index].productName}}</span>
				<span class="productPrice">{{products[$index].productPrice}}</span>
			</div>
		</div>

		<div class="row products-row" >
			<div class="col productContainer">
				<img class="productPhoto" src="../img/featured/women1.jpg" alt="women1">
				<span class="productName">Product title</span>
				<span class="productPrice">Product price</span>
			</div>
			<div class="col productContainer">
				<img class="productPhoto" src="../img/featured/women2.jpg" alt="women1">
				<span class="productName">Product title</span>
				<span class="productPrice">Product price</span>
			</div>
		</div>
		<div class="row products-row" >
			<div class="col productContainer">
				<img class="productPhoto" src="../img/featured/men1.jpg" alt="women1">
				<span class="productName">Product title</span>
				<span class="productPrice">Product price</span>
			</div>
			<div class="col productContainer">
				<img class="productPhoto" src="../img/featured/men2.jpg" alt="women1">
				<span class="productName">Product title</span>
				<span class="productPrice">Product price</span>
			</div>
		</div>
		<div class="row products-row" >
			<div class="col productContainer">
				<img class="productPhoto" src="../img/featured/women3.jpg" alt="women1">
				<span class="productName">Product title</span>
				<span class="productPrice">Product price</span>
			</div>
			<div class="col productContainer">
				<img class="productPhoto" src="../img/featured/women4.jpg" alt="women1">
				<span class="productName">Product title</span>
				<span class="productPrice">Product price</span>
			</div>
		</div>
		<div class="row products-row" style="margin-bottom:100px;">
			<div class="col productContainer">
				<img class="productPhoto" src="../img/featured/men3.jpg" alt="women1">
				<span class="productName">Product title</span>
				<span class="productPrice">Product price</span>
			</div>
			<div class="col productContainer">
				<img class="productPhoto" src="../img/featured/men4.jpg" alt="women1">
				<span class="productName">Product title</span>
				<span class="productPrice">Product price</span>
			</div>
		</div>


	</ion-content>
	<div class="footer-space"></div>

</ion-view>
