<ion-view>
	<ion-nav-title ui-sref="leftdrawer.home">
		<div class=" appLogo"></div>
	</ion-nav-title>
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-ios-arrow-back button-tap-area" nav-direction="back" ng-click="goBack()"></button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right"  class="customAnim">
		<button class=" button button-icon ion-ios-cart" nav-direction="forward" ui-sref="cart" ></button>
		<span ng-if="cartBadge>0" class="badge badge-calm " ui-sref="cart">{{cartBadge}}</span>
	</ion-nav-buttons>
	<ion-content class="calm-bg product-page" scroll="false" >
		<button translate="menu.add_to_cart"  id="cartButton" style="" class="button button-calm add-to-cart-button"  ng-click="addToCart(productDetails)">Add to cart</button>
<!--		<i class="fa fa-ellipsis-v fa-2x product-add-wishlist" ng-click="openPopover(product.product_id, $event)"></i>-->
		<tab-slide-box tab="0">
			<div class="tsb-icons header-color">
				<div class="tsb-ic-wrp">
					<ion-scroll direction="x" class="tsb-hscroll" delegate-handle="subHeaderSlideBox">
						<a href="javascript:;" class="ion-home1">Product</a>
						<a href="javascript:;" class="ion-ios-game-controller-b1" >Specifications</a>
						<a href="javascript:;" class="ion-email1">Description</a>
						<a href="javascript:;" class="ion-model-s1">Review</a>
					</ion-scroll>
				</div>
			</div>
			<ion-slide-box show-pager="false"
						   on-slide-changed="slideHasChanged($index)"
						   delegate-handle="subHeaderSlideBox"
						   active-slide="myActiveSlide">
				<ion-slide class="product-slide" delegate-handle="productSlidePage" on-drag-left="enableSlide()">
					<ion-scroll style="height:100%" delegate-handle="slide1Scroll" on-scroll="getCurrentPosition()">
						<i class=" button button-icon ion-heart product-add-wishlist" ng-click="addToWishlist(productDetails.product_id)"></i>

						<ion-slide-box id="producPhotoSlideBox" class="product-photo-slider"
									   show-pager="true"
									   slide-interval="3000"
									   disable-scroll="false"
									   on-touch="disableTabSlide()"
									   on-release="enableTabSlide()"
									   on-drag-left="dragLastSlide()"
									   delegate-handle="productSlideBox"
									   ng-if="productDetails.images.length!==0">
							<ion-slide ng-repeat="image in productDetails.images" >
								<img class="slide-photo" ng-src="{{image.image}}">
							</ion-slide>
						</ion-slide-box>
						<ion-slide-box id="producPhotoSlideBox" class="product-photo-slider"
									   show-pager="true"
									   slide-interval="3000"
									   disable-scroll="false"
									   on-touch="disableTabSlide()"
									   on-release="enableTabSlide()"
									   on-drag-left="goNextTabSlide()"
									   delegate-handle="productSlideBoxOne"
									   on-slide-changed="photoSlideDelegate()"
									   ng-if="productDetails.images.length===0">
							<ion-slide >
								<img class="slide-photo" ng-src="{{productDetails.image}}">
							</ion-slide>
						</ion-slide-box>

						<div class="panel">
							<div class="panel-body product-info">
								<div class="top-row">
									<span class="product-title">{{productDetails.title}}</span>
								</div>
								<div class="middle-row">
									<stars-rating ng-model="productDetails.rating" readonly="true"></star-rating>
								</div>
								<div class="bottom-row">
									<div class="row">
										<div class="col col-40 col-offset-60">
											<div ng-show="{{productDetails.special!==null}}" class="product-old-price-right"><span>{{productDetails.price}}</span></div>
											<div ng-show="{{productDetails.special===null}}" style="height:20px"></div>
										</div>
									</div>
									<div class="row">
										<div class="col col-20">
											<span class="stock-status">{{productDetails.stock_status}}</span>
										</div>
										<div class="col col-40">
											<div ng-show="{{productDetails.special!==null}}" class="product-price-right"><span>{{productDetails.special}}</span></div>
											<div ng-show="{{productDetails.special===null}}" class="product-price-right"><span>{{productDetails.price}}</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--
<ionic-datepicker input-obj="datepickerObject">
<button class="button button-block button-positive" id="datePicker"> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
</ionic-datepicker>
-->
						<div class="panel" ng-repeat="option in productDetails.options">
							<div class="panel-body product-options">
								<div class="product-option-name">{{option.name}}</div>
								<div class="button button-outline button-small choice-button" ng-show="option.type==='radio' || option.type==='select' || option.type==='checkbox'" ng-click="openOptionModal(option); $event.stopPropagation();">Choose</div>
								<div class="button button-outline button-small choice-button" ng-show="option.type==='text' || option.type==='textarea'" ng-click="openOptionModal(option); $event.stopPropagation();" style="width:50.25px">Edit</div>
								<ionic-datepicker input-obj="datepickerObject" ng-show="option.type==='date' || option.type==='datetime'">
									<div class="button button-outline button-small choice-button" ng-click="openOptionModal(option)" >Choose</div>
								</ionic-datepicker>
								<ionic-timepicker input-obj="timePickerObject" ng-show="option.type==='time'">
									<div class="button button-outline button-small choice-button" ng-click="openOptionModal(option)" >Choose</div>
								</ionic-timepicker>
								<hr/>
								<div class="selected-option" ng-if="option.type==='radio' || option.type==='select' || option.type==='checkbox'" ng-show="!option.selectedOption || option.selectedOption.length === 0"> Please choose an option </div>
								<div class="selected-option" ng-if="option.type==='radio' || option.type==='select'" ng-show="option.selectedOption"> {{option.selectedOption.name}} </div>
								<div class="selected-option" ng-if="option.type==='checkbox'" ng-show="option.selectedOption"><span ng-repeat="option in option.selectedOption">{{option.name}}<span ng-if="!$last">, </span></span></div>
								<div class="selected-option" ng-if="option.type==='date' || option.type==='time' || option.type==='datetime'"> {{option.value}} </div>
								<div class="selected-option" ng-if="option.type==='text' || option.type==='textarea'"> {{option.value}} </div>

							</div>
						</div>
						<div style="margin:5px;" ng-if="productDetails.related_products.length !==0">
							<ion-scroll class="product-scroll"
										id="productsScroll"
										on-touch="disableProductScoller()"
										on-release="enableTabSlide()"
										direction="x"
										has-bouncing="false"
										zooming="false"
										style="width: 99%; height: 200px ;margin-left:0.5%; margin-right:0.5%;"
										scrollbar-x="false" delegate-handle="prodScrollDelegate"
										horizontal-scroll-fix="productSlidePage">
								<div style="width:{{(130 * productDetails.related_products.length)}}px; height:200px;">
									<div class="container product-scroll-container" ng-repeat="product in productDetails.related_products" ng-click="goToProduct(product.product_id)">
										<div class="row-photo" >
											<img class="product-photo" ng-src="{{product.thumb_image}}"/>
											<!--					<div class="product-discount">{{product.name}}</div>-->
											<!--					<div class="product-favourites">{{product.productPrice}}</div>-->
										</div>
										<div class="row-text">
											<div class="product-title">{{product.name}}</div>
										</div>
										<div class="row-text" ng-show="{{product.special!==null}}">
											<div class="product-old-price"><span>{{product.price}}</span></div>
											<div class="product-price"><span>{{product.special}}</span></div>
										</div>
										<div class="row-text" ng-show="{{product.special===null}}">
											<div class="product-old-price"><span></span></div>
											<div class="product-price"><span>{{product.price}}</span></div>
										</div>

									</div>
								</div>
							</ion-scroll>
						</div>
						<div style="padding-top:140px"></div>
					</ion-scroll>
				</ion-slide>
				<ion-slide class="specification-slide">
					<ion-scroll style="height:100%" delegate-handle="slide2Scroll" direction="y">
						<div style="padding-bottom:20px"></div>
						<div ng-repeat="group in productDetails.attribute_groups">
							<p class="group-name">{{group.name}}</p>
							<div class="panel">
								<div class="panel-body panel-attributes">
									<div ng-repeat="attribute in group.attribute">
										<div class="attribute-name">{{attribute.name}}</div>
										<div class="attribute-text">{{attribute.text}}</div>
										<hr ng-if="!$last"/>
									</div>
								</div>
							</div>
						</div>
						<div style="padding-top:140px"></div>
					</ion-scroll>
				</ion-slide>
				<ion-slide class="description-slide">
					<ion-scroll style="height:100%" direction="y">
						<div  ng-bind-html="productDetails.description" style="color:#fff; text-align:justify; padding: 15px"></div>
						<div style="padding-top:140px"></div>
					</ion-scroll>
				</ion-slide>
				<ion-slide class="review-slide" on-drag-right="enableSlide()">
					<ion-scroll style="height:100%" direction="y">
						<div style="padding-bottom:20px"></div>
						<div ng-if="reviews.length>0">
							<div class="row">
								<div class="col col-25 stars-average"><span style="font-size:22px">{{productRating}}</span><br><span>out of 5 stars</span></div>
								<div class="col col-50">
									<stars-rating class="product-review" ng-model="productRating" readonly="true"></star-rating><br/>
								</div>
								<div class="col col-25"><button class="button button-outline add-review-button" ng-click="openReviewModal()">Add review</button></div>
							</div>

							<div class="row" ng-repeat="star in stars.slice().reverse()">
								<div class="col col-20"><span style="color:white; font-size:13px " >{{star.rating}} stars </span></div>
								<div class="col col-50"><progress max="{{maxRatingValue}}" ng-value="{{star.value}}"></progress></div>
								<div class="col"><span style="color:white; " >{{star.value}}</span></div>
							</div>
							<br>
							<div ng-repeat="review in reviews">
								<div class="panel">
									<div class="panel-body panel-attributes">
										<div>
											<stars-rating ng-model="review.rating" readonly="true"></star-rating><br/>
										</div>
										<span>{{review.date_added}}</span>
										<span> by {{review.author}}</span>
										<div class="review-text">{{review.text}}</div>
									</div>
								</div>
							</div>
						</div>
						<div ng-if="reviews.length === 0">
							<h3>NO REVIEWS</h3>
							<button class="button button-outline add-review-button" ng-click="openReviewModal()">Add review</button>
						</div>
						<div style="padding-top:140px"></div>
					</ion-scroll>
				</ion-slide>
			</ion-slide-box>
		</tab-slide-box>


	</ion-content>
	<div class="footer-space"></div>

</ion-view>
