
<ion-view title='<h1 class=" appLogo"></h1>' >
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon header-position-fix" ng-click="toggleDrawer()">
    </button>
  </ion-nav-buttons>

  <div class="header-space"></div><br/>
  <ion-content class="calm-bg has-header">

    <div class="header-space"></div>
    <ion-list>
      <div class="card container" 
           ui-sref="categories({restaurantName : restaurant.restaurantName})"
           ng-click="showRestaurant(restaurant.restaurantId, restaurant.locationId, restaurant.restaurantName, restaurant.info)"
           ng-repeat="restaurant in restaurants| orderBy: 'distance' | filter: filterOpen">
        <div class=" restaurantDivider" >
          <span class="restaurantTitle opened">{{restaurant.restaurantName}}</span>
          <p class="restaurantStatus">{{ restaurant.distance | number: 2}} km</p>
        </div>
        <div class=" detailsItem">
          <div class="row restaurantDetails">
            <div class="col col-20">
              <p>{{restaurant.info.deliveryFee|currency}}</p>
              <p>Delivery</p>
            </div>
            <div class="col col-20">
              <p>{{restaurant.info.minDeliveryFee|currency}}</p>
              <p>Minimum</p>
            </div>

          </div>
        </div>
      </div>

      <div class="card container"
           ng-click="closedRestaurant(restaurant.restaurantName)"
           ng-repeat="restaurant in restaurants| orderBy: 'distance' | filter: filterClosed">
        <div class="item item-divider restaurantDivider">
          <span class="restaurantTitle closed">{{restaurant.restaurantName}}</span>
          <p class="restaurantStatus closed" > closed</p>
        </div>
        <div class="item item-text-wrap detailsItem">
          <div class="row restaurantDetails">
            <div class="col col-20">
              <p>{{restaurant.info.deliveryFee|currency}}</p>
              <p>Delivery</p>
            </div>
            <div class="col col-20">
              <p>{{restaurant.info.minDeliveryFee|currency}}</p>
              <p>Minimum</p>
            </div>
          </div>
        </div>
      </div>
    </ion-list> 
    <div class="footer-space"></div>

  </ion-content>
</ion-view>