
<ion-view title='<h1 class=" appLogo"></h1>'>
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon header-position-fix" ng-click="toggleDrawer()">
		</button>
	</ion-nav-buttons>
	<div class="header-space"></div><br/>
	<ion-content scroll="false" class="calm-bg">
		<div class="">
			<div class="wLogo"></div>
			<div class="wPosition">
				<div class="row welcome-row">
					<div class="col-50 welcome-col">
						<button translate="homeview.delivery" class="button button-outline button-light button-search delivery-button order-search" ui-sref="orderDelivery">
							Delivery
						</button>
					</div>
					<div class="col-50 welcome-col">
						<button translate="homeview.pickup" class="button button-outline button-light button-search pickup-button order-search" ui-sref="orderPickUp">
							Pick up
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-50">
						<button class="button button-outline button-light button-search reorder-button order-search" ng-click="orderToCart()">
							<span translate="homeview.order" class="span-button-big"> Order </span>
							<span translate="homeview.previous_order" class="span-button">Previous Order</span>
						</button>
					</div>
					<div class="col-50">
						<button class="button button-outline button-light button-search tracker-button order-search" >
							<span translate="homeview.track" class="span-button-big"> Track </span>
							<span translate="homeview.your_order" class="span-button">Your Order</span>
						</button>
					</div>
				</div>
			</div>


		</div>
	</ion-content>
</ion-view>

